<p id="notice"><%= notice %></p>

<div class="container">
  <div class="text-right">
    <form class="navbar-form text-right" role="search" id="client_search"
      action="/clients" accept-charset="UTF-8" method="get">
      <input name="utf8" type="hidden" value="✓">
      <div class="input-group">
        <input type="search" class="form-control" placeholder="Search for..."
          name="q[name_cont]" id="q_name_cont">
          <span class="input-group-btn">
            <button class="btn btn-default"><i class="fa fa-search"></i></button>
          </span>
        </input>
      </div>
      <%= link_to new_client_path, :class => "btn btn-default" do %>
        <i class="fa fa-plus"></i> Add Client
      <% end %>
    </form>
  </div>
  <h1 class="page-header">Listing Clients</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="warning">
      <tr>
        <th>Company</th>
        <th>Address</th>
        <th>Phone</th>
        <th>email</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= truncate(client.name, :lenght => 30) %></td>
          <td><%= truncate(client.address, :length => 50) %></td>
          <td><%= client.phone %></td>
          <td><%= client.email %></td>
          <td><%= link_to client do %>
            <i class="fa fa-eye"></i>
          <% end %></td>
          <td>
            <%= link_to edit_client_path(client) do%>
              <i class="fa fa-pencil-square-o"></i>
            <% end %>
          </td>
          <td>
            <%= link_to client, method: :delete, data: { confirm: 'Are you sure?' } do%>
              <i class="fa fa-trash-o"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="container text-right">
  <%= will_paginate @products, renderer: BootstrapPagination::Rails  %>
</div>
