<div class="row">
  <div class="col-sm-12 col-md-6 col-md-offset-3">
    <%= form_for @product do |f| %>
      <%= render partial: 'shared/error_messages', locals: { obj: @product } %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder: "product name" %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control", cols: "40", rows: "5",
          placeholder: "product description"%>
      </div>
      <div class="form-group">
        <%= f.label :quantity %>
        <%= f.number_field :quantity, class: "form-control",  min: 0, step: 1,
          placeholder: "available stock" %>
      </div>
      <div class="form-group">
        <%= f.label :price %>
        <%= f.number_field :price, class: "form-control",  min: "0.00",
          placeholder: "base price", :step => 0.01 %>
      </div>
      <div class="form-group">
        <%= link_to 'Back', products_path, {:class => "btn btn-default btn-lg"} %>
        <%= f.submit local_assigns[:submit_text], class: "btn btn-success btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
